

<div class="k-edit-form-container col-lg-11 col-md-10 col-sm-11 col-xs-10" id="" style="margin-bottom:4%;margin-top:2%;">
    <div id="divForDesigCreate"></div>
    <div class="k-edit-buttons k-state-default">
        @if (ViewBag.DesignationId > 0)
        {
            <button type="button" class="k-button k-button-icontext k-primary k-grid-update" id="btnDesigCreate"><span class="k-icon k-update"></span>Update</button>
        }
        else
        {
            <button type="button" class="k-button k-button-icontext k-primary k-grid-update" id="btnDesigCreate"><span class="k-icon k-update"></span>Create</button>
        }
        <button type="reset" class="k-button k-button-icontext k-grid-update" id="btn_desgntn_Refresh"><span class="k-icon k-i-refresh"></span>Refresh</button>
        <button type="button" class="k-button k-button-icontext k-grid-cancel" id="btnDesig_Cancel"><span class="k-icon k-cancel"></span>Cancel</button>
    </div>

</div>

<script>
    $(document).ready(function () {
        $("#divForDesigCreate").load('@Url.Action("DesignationCreate", "Configuration")?id=' + '@ViewBag.DesignationId');
    });
    $("#btn_desgntn_Refresh").click(function () {
        $("#divForDesigCreate").empty();
        $("#divForDesigCreate").append('<div class="tiny_loading"></div>');
        $("#divForDesigCreate").load('@Url.Action("DesignationCreate", "Configuration")?id=' + '@ViewBag.DesignationId');
        $("#divForDesigCreate").show();
    });
   
</script>
