
@{
    ViewBag.Title = "PasswordChangeConfirmation";
    Layout = "~/Views/Shared/_LayoutTest.cshtml";
}

<div class="content">
    <div class="lock-head"><img src="~/Content/Icon/gsml_Logo_big.png" style="max-width:145px!important;" /></div>
    <div style="height:61% !important;">
        <p style="text-align: center; padding-top: 78px;" >
            Please check your email to reset your password.
        </p>
    </div>
    @*<form class="login-form"  method="post" style="margin: 35px;">
        <div class="form-group">
            
        </div>
        <div class="form-actions">
        </div>
    </form>*@
    <div class="lock-bottom">
        <p style="color:#fff;">Powered By <span><a href="http://www.spicybinary.com/">ZS-Soft Tech</a></span></p>
    </div>
</div>

