

@model FactoryManagement.ModelView.HR.UserInformationModelView
@{
    ViewBag.Title = "PasswordRecovery";
    Layout = "~/Views/Shared/_LayoutTest.cshtml";
}

<div class="content" id="password_check">
    <div class="lock-head"><img src="~/Content/Icon/gsml_Logo_big.png" style="max-width:145px!important;" /></div>
   
        <form class="login-form" action="/Account/PasswordRecovery" method="post" style="margin: 35px;">
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">E-mail</label>
                <div class="input-icon">
                    <i class="fa fa-user"></i>
                    <input class="form-control placeholder-no-fix"
                           type="text" autocomplete="off" placeholder="E-mail"
                           data-val="true" data-val-required="Please enter email address"
                           id="EmailAddress" name="EmailAddress">
                </div>
                <span class="field-validation-valid text-danger" data-valmsg-for="EmailAddress" data-valmsg-replace="true"></span>
            </div>
            <div class="form-actions" style="height:84px!important;">
                <a href="/Account/Login" class="forget-password"><i class="m-icon-swapleft m-icon-blue"></i>Back</a>
                <button type="submit" id="btn_checkEmail" class="btn green-haze">Send E-mail</button>
            </div>
        </form>
        <div class="lock-bottom">
            <p style="color:#fff;">Powered By <span><a href="http://www.spicybinary.com/">ZS-Soft Tech</a></span></p>
        </div>
</div>
<script>
    $("form").kendoValidator({
        rules: {
            remote_Password: function (input) {
                if (!input.is("[name=EmailAddress]")) {
                    return true;
                }
                var errormessage;
                var isInvalid;
                var data = {};

                var email = $.trim($("#EmailAddress").val());
                data = { email: email };
                $.ajax({
                    url: "/RemoteValidation/CheckUserEmail",
                    mode: "abort",
                    port: "validate" + input.attr('name'),
                    dataType: "json",
                    type: input.attr("data-val-remote-type"),
                    data: data,
                    async: false,
                    success: function (response) {
                        isInvalid = response;
                        if (isInvalid === true) {
                            isInvalid = true;
                        }
                        else {
                            isInvalid = false;
                        }
                    }
                });
                return isInvalid;
            }
        },
        messages: {
            remote_Password: "Email do not match with any user",
        }
    });
</script>

