

@model FactoryManagement.ModelView.Auth.UserLoginModelView
@{
    ViewBag.Title = "SetNewPassword";
    Layout = "~/Views/Shared/_LayoutTest.cshtml";
}


   
<div class="content">
    <div class="lock-head"><img src="~/Content/Icon/gsml_Logo_big.png" style="max-width:145px!important;" /></div>
    <form class="login-form" action="/Account/SetNewPassword" method="post" style="margin: 35px;">
        @Html.HiddenFor(model => model.UserId)
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">New Password</label>
            <div class="input-icon">
                <i class="fa fa-lock"></i>
                @*<input class="form-control placeholder-no-fix"
                    type="text" autocomplete="off" placeholder="New Password"
                    data-val="true" data-val-required="Please enter user name"
                    id="EmailAddress" name="EmailAddress">*@

                <input class="form-control placeholder-no-fix" data-val="true" data-val-length="Password minimum length is 6"
                       data-val-length-max="50" data-val-length-min="6"
                       @*onchange="matchPass()"*@
                       placeholder="New Password"
                       data-val-required="Please type your password"
                       id="Password" name="Password" type="Password" value="" />
            </div>
            <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Confirm Password</label>
            <div class="input-icon">
                <i class="fa fa-lock"></i>
                <input class="form-control placeholder-no-fix" data-val="true"
                       placeholder="Confirm Password"
                       id="ConfirmPassword" name="ConfirmPassword" type="password" value="">
            </div>
            <span class="field-validation-valid text-danger" data-valmsg-for="ConfirmPassword" data-valmsg-replace="true"></span>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn green-haze">Confirm</button>
        </div>
    </form>
    <div class="lock-bottom">
        <p style="color:#fff;">Powered By <span><a href="http://www.zssofttech.com/">ZS-Soft Tech</a></span></p>
    </div>
</div>
<script>
    $("form").kendoValidator({
                rules: {
                    Pass_word: function (input) {
                        if (input.is("[name=Password]") && $("#Password").val() === "") {
                            return false;
                        } else {
                            return true;
                        }
                    },
                    Confirm_Password: function (input) {
                        if (input.is("[name=ConfirmPassword]") && $("#ConfirmPassword").val() !== $("#Password").val() && $("#Password").val() !== "") {
                            return false;
                        } else {
                            return true;
                        }
                    },
                    Confirm_Password_req: function (input) {
                        if (input.is("[name=ConfirmPassword]") && $("#ConfirmPassword").val() === "") {
                            return false;
                        } else {
                            return true;
                        }
                    },
                },
                messages: {
                    remote_Password: "Password not matched",
                    Pass_word: "Please type your password",
                    Confirm_Password: "New Password and confirm password is not same",
                    Confirm_Password_req: "Please confirm your password"
                }
            });


</script>