@********************Tasnim Tuli******************@
@model FactoryManagement.ModelView.HR.UserInformationModelView
@Html.HiddenFor(m => m.UserId)
<style>
    .image-uploader {
        width: 100%;
        /*height: 260px;*/
        height: 220px;
        display: block;
        text-align: center;
    }

    .imgPreview {
        background-color: #e8e4d0;
        margin-bottom: 20px;
        position: relative;
        width: 100%;
        height: 160px;
        border: 1px solid #808080;
        display: block;
        overflow: hidden;
    }

        .imgPreview img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            display: block;
            max-width: 100%;
            height: auto;
        }

    .lblForPics {
        text-align: center;
        max-width: 100%;
        width: 100%;
        height: 180px;
        vertical-align: middle;
        border: 1px dashed blue;
    }

        .lblForPics span {
            color: #083bb5 !important;
        }

    .previewImgClose {
        position: relative;
        width: 36px;
        height: 36px;
        cursor: pointer;
        float: right;
        right: -1.8em;
        bottom: -1.8em;
        z-index: 9999;
        margin-top: -3em;
    }
</style>
<div class="k-edit-form-container col-lg-11 col-md-10 col-sm-11 col-xs-10" style="margin-bottom:1%;margin-top:2%;" id="image_div">
    <div class="editor-label"><label for="Picture">User Picture</label></div>
    <div class="editor-field">
        <div class="col-md-5 col-sm-5 col-xs-8 divForPic" id="divForPic-0">
            <span id="UserImgClose-0">
                <img src="/Content/Icon/modal_close.png" class="previewImgClose" id="UserImgClose-0" data-count="0" />
            </span>
            <div id="imgPreview-0" class="imgPreview">
                @if (Model.Picture != null && Model.Picture != "")
                {
                    <img src="~/Images/UserPicture/Original/@Model.Picture" />
                }
            </div>
            <div id="imgUpload-0" class="image-uploader" style="display:none;">
                <input type="file" name="files" id="file-0" class="inputfile inputfile-4" data-count="0" style="display:none;" />
                <label for="file-0" id="lbl-0" class="lblForPics">
                    <span style="font-size: 26px;padding-top:2em;display:block;" class="lbl_Span_plus">+</span>
                    <span style="font-size: 15px;font-weight:bold;">Add Photos</span>
                </label>
            </div>
        </div>
    </div>
    @*<div class="k-edit-buttons k-state-default">
        <button type="button" class="k-button k-button-icontext k-primary k-grid-update" id="btn_User_pic_change"><span class="k-icon k-update"></span>Update</button>
        <button type="button" class="k-button k-button-icontext k-grid-cancel" id="btn_EditUser_Pic_CLose"><span class="k-icon k-cancel"></span>Close</button>
    </div>*@
</div>
<script>
    var allMainFile = [];
    var allFileCount = [];
    var id;
    var UserId;
    var PictureName;
    $(document).ready(function () {
        if ('@Model.Picture' === null || '@Model.Picture' === '') {
            $("#imgPreview-0").hide();
            $("#UserImgClose-0").hide();
            $("#imgUpload-0").show();
        }
    });
    @*$(".divForPic").on('change', '.inputfile-4', function (e) {
        id = $(this).data("count");
        var countFiles = $("#file-" + id)[0].files.length;
        var imgPath = $("#file-" + id)[0].value;
        var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
        var image_holder = $("#imgPreview-" + id);
        var files = e.target.files;
        image_holder.empty();
        if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
            if (typeof (FileReader) != "undefined") {
                allFileCount.push(id);
                allMainFile[id] = files[0];
                //for (var i = 0; i < countFiles; i++) {

                var reader = new FileReader();
                reader.onload = function (e) {
                    $("<img />", { "src": e.target.result }).appendTo(image_holder);
                }
                $("#imgUpload-" + id).hide();
                $("#UserImgClose-" + id).show();
                image_holder.show();
                $("#file-" + id).hide();
                $("#lblfile-" + id).hide();
                $("#PictureName").val($("#file-" + id)[0].files[0]);
                reader.readAsDataURL($("#file-" + id)[0].files[0]);
                $(".lbl_Span_plus").text("+");
                //}
                id++;
            } else {
                alert("This browser does not support FileReader.");
            }
        } else {
            alert("Pls select only images");
        }
    });
    $(".divForPic").on('click', '.previewImgClose', function (e) {
        e.preventDefault();
        var id = $(this).data("count");
        $("#imgPreview-" + id).hide();
        $("#UserImgClose-" + id).hide();
        $("#imgUpload-" + id).show();
    });
    $("#btn_User_pic_change").click(function () {
        if (allMainFile.length == 0) {
            alert("You haven't select any picture");
        } else {
            notification.show({ message: "User image uploading...", showTime: startTime() }, "upload-success");
            var sendData = new FormData();
            sendData.append("UserId", $("#UserId").val());
            sendData.append("files", allMainFile[0]);
            sendData.append("CreatedBy", userId);

            $.ajax({
                url: '@Url.Action("UpdateUserPicture", "HumanResource")',
                type: 'Post',
                data: sendData,
                contentType: false,
                processData: false,
                success: function (data) {
                    notification.hide();
                    notification.setOptions({ autoHideAfter: 2000 });
                    if (data != null) {
                        notification.hide();
                        notification.setOptions({ autoHideAfter: 5000 });

                        if (data === 'Error') {
                            notification.show({ message: "User image change unsuccessful.", showTime: startTime() }, "upload-error");
                        }
                        else {
                            $("#btn_User_pic_change").closest(".k-window-content").data("kendoWindow").close();
                            notification.show({ message: "User image has been successfully changed.", showTime: startTime() }, "upload-success");

                            $("#Edit_Picture").empty();
                            $("#Edit_Picture").append('<img src="/Images/UserPicture/Original/'+data+'" class="img-responsive" alt="">');
                        }
                    }
                },
                error: function (error) {
                    notification.show({ message: "Unsuccessful", showTime: startTime() }, "upload-error");
                }
            });
        }
    });

    $("#btn_EditUser_Pic_CLose").click(function () {
        $(this).closest(".k-window-content").data("kendoWindow").close();
    });*@
</script>
