@***********************************Created By kaikubad 17 August 2017************************************@
<div class="k-edit-form-container col-lg-11 col-md-10 col-sm-11 col-xs-10" style="margin-top:1%;">
    <div class="editor-label"><label for="SchedulName">Reset Type</label></div>
    <div class="editor-field">
        <label><input class="pass_reset_chk" type="radio" name="reset" value="1"/> Hard Reset</label>
        <label><input class="pass_reset_chk" type="radio" name="reset" value="2"/> Generate Link</label>
    </div>

    <div id="div_link_reset" style="display:none">
        <div class="editor-label"><label for="generated_link">Link</label></div>
        <div class="editor-field">
            <input type="text" style="width:80%;height:25px" id="generated_link"/>
            <button type="button" class="btn btn-sm green" data-toggle="tooltip" title="Generate reset link">
                <i class="fa fa-key"></i>
            </button>
        </div>
        <div class="editor-label"><label for="SchedulName">Send Through</label></div>
        <div class="editor-field">
            <label><input type="checkbox" name="reset" value="1" /> SMS</label>
            <label><input type="checkbox" name="reset" value="2" /> Email</label>
        </div>
    </div>
    <div id="div_hard_rest" style="display:none">
        <div class="editor-label"><label for="username">Uername</label></div>
        <div class="editor-field">
            <input type="text" style="width:100%;height:25px" id="username" />
        </div>
        <div class="editor-label"><label for="password">Password</label></div>
        <div class="editor-field">
            <input type="password" style="width:100%;height:25px" id="password" />
        </div>
        <div class="editor-label"><label for="confirmpassword">Confirm Password</label></div>
        <div class="editor-field">
            <input type="password" style="width:100%;height:25px" id="confirmpassword" />
        </div>
    </div>
    <div class="col-sm-11 col-xs-11">
        <div class="k-edit-buttons k-state-default" style="margin-top:-15px">
            <span>
                <button type="button" class="k-button k-button-icontext k-primary k-grid-update" id="btn_pass_reset_ok"><span class="k-icon k-update"></span>Reset Password</button>
                <button type="button" class="k-button k-button-icontext k-grid-cancel" id="btn_pass_reset_Refresh"><span class="k-icon k-i-refresh"></span>Refresh</button>
                <button type="button" class="k-button k-button-icontext k-grid-cancel" id="btn_pass_reset_Cancel"><span class="k-icon k-cancel"></span>Cancel</button>
            </span>
        </div>
    </div>
</div>
<script>
    $(".pass_reset_chk").change(function () {
        var checked = $(this).val();
        if (checked == 2) {
            $("#div_link_reset").show();
            $("#div_hard_rest").hide();
        } else {
            $("#div_hard_rest").show();
            $("#div_link_reset").hide();
        }
    });
    $("#btn_pass_reset_Cancel").click(function () {
        $(this).closest(".k-window-content").data("kendoWindow").close();
    });
    $("#btn_pass_reset_Refresh").click(function () {

        $("input").each(function () {
            $(this).val('');
        });
    });
</script>