
@************************************** Created By Jerin Jahan (Date:30.10.2016)  ***************************************@


@model IEnumerable<FactoryManagement.Models.EmpSalaryPaymentDetail> 
@{
    var count = 1;
    FactoryManagement.Models.FactoryManagementEntities db = new FactoryManagement.Models.FactoryManagementEntities();
    double total = 0;
    var currency = Request.Cookies["CookieAdminInfo"].Values["currencySymbol"].ToString();
}
<div class="k-edit-form-container col-lg-11 col-md-10 col-sm-11 col-xs-10" style="margin-bottom:4%;">
    <div class="editor-label" style="float:left;padding-left:0px;"><label for="PackageName"></label></div>
    <div class="editor-field" style="float:left;">
        <div class="col-sm-11 col-xs-11" style="float:right;padding-right:0px;padding-top:7px;">
            @foreach (var list in Model)
            {
                double amount = Convert.ToDouble(list.TotalAmount);
                double paid_amnt = Convert.ToDouble(list.PaidAmount);
                double due_amnt = amount - paid_amnt;
                <P>@list.Month @list.Year </P>
                var details = db.SalaryPaymentPckDetails.Where(m => m.PaymentId == list.Id).ToList();
                foreach (var d in details)
                {
                    <p style="margin-left:5em;">@d.Acc_Name  @currency @d.Amount</p>
                }
                <p style="margin-left:5em;">Total  = @currency @due_amnt </p>
                total = total + amount;
            }
        </div>
    </div>

    <div class="editor-label" style="float:left;padding-left:0px;"><label for="PackageName"></label></div>
    <div class="editor-field" style="float:left;">
        <div class="col-sm-11 col-xs-11" style="float:right;padding-right:0px;padding-top:7px;">
            Total Outstanding = @currency @total
        </div>
    </div>
</div>
